.title {
    font-family: 'Shrikhand', cursive;
}


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_menu {
    padding: 10px 15px;
}

/*Page d'accueil*/

body {
    margin: 0px;

    .loading {
        /* Création du loader */
        margin: auto;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        background: #ffffff91;
        z-index: 99;
        display: flex;
        animation: disappear 2s forwards;

        svg {
            width: 100px;
            animation: spin 1.5s linear infinite;
            margin: auto;
        }
    }

   
    
    .loading circle {
        animation:
          color 6s ease-in-out infinite,
          dash 1.5s ease-in-out infinite;
        fill: none;
        stroke: black;
        stroke-width: 3;
        stroke-linecap: round;
    }
    


    /* Animation du loader */
    
    
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes color {
        0% {
            stroke: #9356DC;
        }
        25% {
            stroke: #99E2D0;
        }
        50% {
            stroke: #FF79DA;
        }
        75% {
            stroke: #2c3e50;
        }
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1,200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 89,200;
            stroke-dashoffset: -35;
        }
        100% {
            stroke-dasharray: 89,200;
            stroke-dashoffset: -124;
        }
    }

    @keyframes disappear {
        /*disparition du loading*/
        100% {
            opacity: 1;
            visibility: hidden;
        }
    }
    
    /*Header*/

    header {
        text-align: center;
        box-shadow: 0 2px 3px 1px #bdc3c7;
        margin: 0;
        padding-top: 15px;
        padding-bottom: 10px;
        position: relative;
        

        h1 {
            margin: 0,
        }
    }

    /*Main */

    main {
        flex-direction: column;

        .location {
            text-align: center;
            background-color: #f2f2f2;
            margin: 0;
            width: 100%;
            height: 40px;

            i {
                font-size: 15px;
                padding-right: 15px;
            }
    
            p {
                font-weight: 15px;
                margin-right: 35px;
            }
        }

        .main--txt {
            flex-direction: column;
            background-color: #f7f9f9;
            text-align: center;
            width: 100%;
            flex: 1;
    
            h1 {
                padding: 0 50px;
                font-size: 30px;
                padding-top: 20px;
            }
    
            p {
                font-size: 20px;
                margin: 0 20px 30px 20px;
            }
    
            .button {
                background-image: linear-gradient(#FF79DA, #9356DC);
                color: #f7f9f9;
                border: none;
                color: white;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                border-radius: 2rem;
                font-size: 20px;
                margin-bottom: 60px;
                box-shadow: 0px 5px 10px 0px #A9A9A9;
                transition: all 300ms;

                &:hover {
                    transform: scale(1.08);
                    box-shadow: 0px 7px 12px 0px #A9A9A9;
                }
            }
        }

        .global {
            background-color: #f7f9f9;
            border-radius: 20px;
            height: 70px;
            box-shadow: 0px 0px 10px 0px #A9A9A9;
            margin-top: 25px;
        
            &:hover {
                background-color: #9356dc2b;
            }
            .icone_objet {
                color: #9356DC;
            }
        }
        
        .colorgrisclaire {
            color: #f7f9f9;
        }
        
        .colorgris {
            color: #a9a9a9;
        }
        
        
        .function {
            padding-bottom: 30px;
            margin: 40px 20px;
            cursor: pointer;
        
            h1 {
                margin-bottom: 15px;
            }
        
            .function_choose {
                display: flex;
                align-items: center;
                font-size: 11px;
                max-width: 768px;
        
                .icone_number {
                    background-color: #9356DC;
                    border: 2px solid #9356DC;
                    height: 25px;
                    width: 25px;
                    border-radius: 15px;
                    font-size: 10px;
                    margin-left: -12px;
                }
        
                .icone_objet {
                    font-size: 20px;
                    padding-left: 20px;
                    margin-right: 30px;
                }
        
            }
        }
        
        .paddrestaurant {
            padding: 30px 20px;
        }
        
        .list_restaurant {
            display: flex;
            background-color: #f7f9f9;
            flex-direction: column;
        
            .restaurant_select {
                display: flex;
                flex-direction: column;
                width: 100%;
                background-color: white;
                color: black;
                border-radius: 12px;
                margin-bottom: 20px;
                overflow: hidden;
                box-shadow: 0px 0px 10px 0px #ddd;
                cursor: pointer;
                padding-bottom: 20px;
                position: relative;
                text-decoration: none;
                transition: all 300ms;

                &:hover {
                    transform: scale(1.03);
                }
        
                .fit-picture img {
                    height: 180px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px 10px 0 0;
                }
        
                .fit {
                    padding-left: 15px;
                    padding-right: 30px;
                    padding-top: 15px;
        
                    .bloc-icone {
                        display: flex;
                        align-items: center;
                        
                        .icone1 {
                            font-size: 25px;
                        }
        
                        .icone2 {
                            display: none;
                        }
        
                        &:hover {
                            .icone2 {
                                display: flex;
                                font-size: 25px;
                                color: transparent;
                                background-clip: text;
                                background-image: linear-gradient(#9356DC, #FF79DA);
                            }
        
                            .icone1 {
                                display: none;
                            }
                        }
                    }
        
                    i {
                        font-size: 30px;
        
                        &:hover {
                            color: #9356DC;
                        }
                    }
        
                    .fit-text {
                        font-size: 16px;
        
                        h2 {
                            font-size: 15px;
                            padding-bottom: 5px;
                            margin: 0;
                        }
        
                        p {
                            font-size: 14px;
                            margin: 0;
                        }
                    }
                }
        
                .new-tag {
                    font-size: 12px;
                    padding: 5px 10px;
                    color: rgba(0, 128, 42, 0.7215686275);
                    position: absolute;
                    background: #99E2D0;
                    top: 12px;
                    right: 12px;
                }
            }
        }
        
    }

    /*Footer */
    footer {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7607843137);
        color: #f7f9f9;
        padding: 15px 0 40px 25px;
    
        .title {
            color: #f7f9f9;
            font-size: 20px;
            margin: 0px;
            padding-top: 10px;
            padding-bottom: 20px;
        }
    
        .footer_text {
            display: flex;
            align-items: center;
            margin-top: 6px;
    
            .size1 {
                font-size: 14px;
                margin-right: 12px;
            }
    
            .size2 {
                font-size: 11px;
                margin-right: 12px;
            }
    
            p {
                font-size: 16px;
                margin: 0px;
            }
        }
    
        .guide {
            font-size: 16px;
            margin: 0px;
            margin-top: 6px;
        }

        .contact {
            color: #f7f9f9;
            text-decoration: none;
            padding-top: 6px;
        }
    }
    
}


/*Pages des differents restaurants*/

/*Header*/


.header_bloc {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 3px 1px #bdc3c7;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;

    .return {
        font-size: 20px;
        color: black;
        padding-left: 30px;
    }
    
    h1 {
        margin: auto;
        padding-right: 40px;

    }
}


/*Main*/


main {
    display: flex;
    flex-direction: column;

    .francaise_picture {
        display: flex;
        width: 106%;
        height: 260px;
        object-fit: cover;
    }
    
    .delice_picture {
        display: flex;
        width: 104%;
        height: 255px;
        object-fit: cover;
    }

    .lanote_picture {
        display: flex;
        width: 100%;
        height: 270px;
        object-fit: cover;
    }

    .palette_picture {
        display: flex;
        width: 106%;
        height: 265px;
        object-fit: cover;
    }

    .main_menu {
        width: 100%;
        background-color: #f7f9f9;
        margin-top: -50px;
        border-radius: 40px 40px 0 0;

        .title_menu {
            display: flex;
            margin: 25px 10px 0 10px;
            opacity: 0;
            transform: translateY(-30px);
            animation: apparition 0.4s 100ms ease-out forwards;

            h1 {
                font-size: 28px;
                margin: 0;
            }

            .bloc-icone {
                padding-right: 15px;
                .icone1 {
                    font-size: 25px;
                }
    
                .icone2 {
                    display: none;
                }
    
                &:hover {
                    .icone2 {
                        display: flex;
                        font-size: 25px;
                        color: transparent;
                        background-clip: text;
                        background-image: linear-gradient(#9356DC, #FF79DA);
                    }
    
                    .icone1 {
                        display: none;
                    }
                }  
                
            }
        }

        

        .menu_category {


            > p {
                padding-left: 8px;
                margin-top: 30px;
                opacity: 0;
                transform: translateY(-30px);
                animation: apparition 0.8s 0.8s ease-out forwards;
                &::after {
                    margin-top: 5px;
                    display: block;
                    content: "";
                    background-color: #99E2D0;
                    height: 3px;
                    width: 40px;
                }
            }
        }


        .container {
            background-color: white;
            border-radius: 15px;
            height: 70px;
            box-shadow: 0px 2px 10px 3px #ddd;
            margin-bottom: 15px;
            cursor: pointer;
            overflow: hidden;
            
            .btn_text {
                white-space: nowrap;
                width: calc(100% - 70px);
                padding: 12px;
                overflow: hidden;

                h2 {
                    margin: 0px;
                    font-size: 18px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                p {
                    font-size: 15px;
                    margin: 5px 0 0 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .price {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                font-size: 15px;
                height: 45px;
                width: 50px;
                margin-right: 25px;
                
            }
            

            .confirm {
                display: flex;
                background-color: #99E2D0;
                transition: all 400ms;
                height: 100%;
                width: 70px;
                margin-right: -70px;

                .confirm_icon {
                    color: white;
                    font-size: 22px;
                    transition: transform 1s;
                }
                
            }

            &:hover {
                
                .confirm {
                    margin-right: 0px;
                    transition-duration: 600ms;

                    .confirm_icon {
                        color: white;
                        font-size: 22px;
                        transform: rotate(360deg);
                    }
                }
                
                
            }
        }

        .button-order {
            background-image: linear-gradient(#FF79DA, #9356DC);
            color: #f7f9f9;
            border: none;
            text-decoration: none;
            border-radius: 2rem;
            font-size: 20px;
            height: 55px;
            width: 210px;
            box-shadow: 0px 5px 10px 0px #A9A9A9;
            margin: 60px auto 80px;
            transition: all 300ms;


            &:hover {
                transform: scale(1.05);
                box-shadow: 0px 7px 12px 0px #A9A9A9;
            }
        }

    }
}


/* Animations des plats des pages menu */

@for $i from 1 through 4 {
    .apparition-#{$i} {
        opacity: 0;
        transform: translateY(-30px);
        animation: apparition 0.8s 0.2s*$i ease-out forwards;
    }
}



@keyframes apparition {
    100% {
        opacity: 1;
        transform: none;
    }
}
    


/* Ipad */
@media screen and (min-width:992px){

    /*Header*/

    .function {
        display: flex;
        align-items: center;

        h1 {
            margin-right: 40px;
            margin-bottom: 0;
        }

        .function_choose {
            margin-right: 30px;
            max-width: 1255px;
        }

        .global {
            margin-top: 5px;
        }
    }

    .list_restaurant {
        display: block;
        justify-content: space-around;
        flex-direction: none;
        align-items: stretch;
    }
    
  

}