.title {
    font-family: 'Shrikhand', cursive;
}


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-accent: #f7f9f9;

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colorgrisclaire {
    color: $color-accent;
}

.colorgris {
    color: #a9a9a9;
}

.paddrestaurant {
    padding-left: 15px;
    padding-right: 15px;
}

/*apparition progressive des menu*/
@keyframes progress {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@mixin apparition {
    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
        animation: progress .2s #{$i * .2}s ease-in forwards;
        animation-duration: 1s;
        }
    }
        
}

/*Page d'accueil*/

body {
    margin: 0px;

    /* Création du loader */
    .loading {
        margin: auto;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        background: #ffffff91;
        z-index: 99;
        display: flex;
        animation: disappear 2s forwards;

        svg {
            width: 100px;
            animation: spin 1.5s linear infinite;
            margin: auto;
        }
    }

   
    
    .loading circle {
        animation:
          color 6s ease-in-out infinite,
          dash 1.5s ease-in-out infinite;
        fill: none;
        stroke: black;
        stroke-width: 3;
        stroke-linecap: round;
    }


    /* Animation du loader */
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes color {
        0% {
            stroke: $color-primary;
        }
        25% {
            stroke: $color-tertiary;
        }
        50% {
            stroke: $color-secondary;
        }
        75% {
            stroke: #2c3e50;
        }
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1,200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 89,200;
            stroke-dashoffset: -35;
        }
        100% {
            stroke-dasharray: 89,200;
            stroke-dashoffset: -124;
        }
    }

    @keyframes disappear {
        /*disparition du loading*/
        100% {
            opacity: 1;
            visibility: hidden;
        }
    }
    
    /*Header*/

    header {
        text-align: center;
        box-shadow: 0 2px 3px 1px #bdc3c7;
        margin: 0;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 10px;
        position: relative;
        

        h1 {
            margin: 0,
        }
    }

    /*Main */

    main {
        flex-direction: column;

        .location {
            text-align: center;
            background-color: #f2f2f2;
            margin: 0;
            width: 100%;
            height: 40px;

            i {
                font-size: 15px;
                padding-right: 15px;
            }
    
            p {
                font-weight: 15px;
                margin-right: 35px;
            }
        }

        .main--txt {
            flex-direction: column;
            background-color: $color-accent;
            text-align: center;
            width: 100%;
            flex: 1;
    
            h1 {
                padding: 0 50px;
                font-size: 30px;
                padding-top: 20px;
            }
    
            p {
                font-size: 20px;
                margin: 0 20px 30px 20px;
            }
    
            .button {
                background-image: linear-gradient($color-secondary, $color-primary);
                color: $color-accent;
                border: none;
                color: white;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                border-radius: 2rem;
                font-size: 20px;
                margin-bottom: 60px;
                box-shadow: 0px 5px 10px 0px #A9A9A9;
                transition: all 300ms;

                &:hover {
                    transform: scale(1.08);
                    box-shadow: 0px 7px 12px 0px #A9A9A9;
                    background-image: linear-gradient(#ff79dad1, #9356dcd6);
                }
            }
        }
        
        
        .function {
            padding-bottom: 30px;
            flex-direction: column;
        
            h2 {
                margin-bottom: 20px;
                margin-top: 40px;
            }

            .function_btn {
                .btn_choose {
                    display: flex;
                    align-items: center;
                    background-color: $color-accent;
                    border-radius: 20px;
                    font-size: 11px;
                    box-shadow: 0px 0px 10px 0px #A9A9A9;
                    margin-bottom: 25px;
                    height: 70px;
                    max-width: 1200px;
                    cursor: pointer;
                    
            
                    .icone_number {
                        background-color: $color-primary;
                        border: 2px solid $color-primary;
                        height: 25px;
                        width: 25px;
                        border-radius: 15px;
                        font-size: 10px;
                        margin-left: -12px;
                    }
            
                    .icone_objet {
                        display: flex;
                        font-size: 20px;
                        padding-left: 20px;
                        margin-right: 20px;
                    }
    
                    h3 {
                        font-size: 17px;
                    }

                    &:hover {
                        background-color: #9356dc2b;
                        .icone_objet {
                            color: $color-primary;
                        }
                    }
            
                }

            }
        
            
        }

        .list_restaurant {
            display: flex;
            background-color: $color-accent;

            .restaurant_btn {
                display: flex;
                flex: 1;
                flex-direction: column;
                
    
                h2 {
                    margin-top: 40px;
                }
    
                .restaurant_select {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    background-color: white;
                    color: black;
                    border-radius: 12px;
                    margin-bottom: 20px;
                    overflow: hidden;
                    box-shadow: 0px 0px 10px 0px #ddd;
                    cursor: pointer;
                    padding-bottom: 20px;
                    position: relative;
                    text-decoration: none;
                    transition: all 300ms;
    
                    &:hover {
                        transform: scale(1.03);
                    }
            
                    .fit-picture img {
                        height: 180px;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 10px 10px 0 0;
                    }
            
                    .fit {
                        padding-left: 15px;
                        padding-right: 30px;
                        padding-top: 15px;
            
                        .bloc-icone {
                            display: flex;
                            align-items: center;
                            
                            .icone1 {
                                font-size: 25px;
                            }
            
                            .icone2 {
                                display: none;
                            }
            
                            &:hover {
                                .icone2 {
                                    display: flex;
                                    font-size: 25px;
                                    color: transparent;
                                    background-clip: text;
                                    background-image: linear-gradient($color-primary, $color-secondary);
                                }
            
                                .icone1 {
                                    display: none;
                                }
                            }
                        }
            
                        i {
                            font-size: 30px;
            
                            &:hover {
                                color: $color-primary;
                            }
                        }
            
                        .fit-text {
                            font-size: 16px;
            
                            h3 {
                                font-size: 15px;
                                padding-bottom: 5px;
                                margin: 0;
                            }
            
                            p {
                                font-size: 14px;
                                margin: 0;
                            }
                        }
                    }
            
                    .new-tag {
                        font-size: 12px;
                        padding: 5px 10px;
                        color: rgba(0, 128, 42, 0.7215686275);
                        position: absolute;
                        background: $color-tertiary;
                        top: 12px;
                        right: 12px;
                    }
                }
            }

        }
        
        
        
    }

    /*Footer */
    footer {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7607843137);
        color: $color-accent;
        padding: 15px 0 40px;
    
        .title {
            color: $color-accent;
            font-size: 20px;
            margin: 0px;
            padding-top: 10px;
            padding-bottom: 20px;
        }
    
        .footer_text {
            display: flex;
            align-items: center;
            margin-top: 6px;
    
            .size1 {
                font-size: 14px;
                margin-right: 12px;
            }
    
            .size2 {
                font-size: 11px;
                margin-right: 12px;
            }
    
            p {
                font-size: 16px;
                margin: 0px;
            }
        }
    
        .guide {
            font-size: 16px;
            margin: 0px;
            margin-top: 6px;
        }

        .contact {
            color: $color-accent;
            text-decoration: none;
            padding-top: 6px;
        }
    }
    
}


/*Pages des differents restaurants*/

body {
    
    flex-direction: column;
    /*Header*/
    .header_bloc {
        display: flex;
        align-items: center;
        box-shadow: 0 2px 3px 1px #bdc3c7;
        margin: 0;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 10px;
    
        .return {
            font-size: 20px;
            color: black;
            padding-left: 30px;
        }
        
        h1 {
            margin: auto;
            padding-right: 40px;
        }
    }

    /*Main*/
    .main-bloc {
        display: flex;
        flex-direction: column;
        background-color: $color-accent;

        .restau_picture {
            display: flex;
            height: 265px;
            object-fit: cover;
        }
    
    

        .main_menu {
            display: flex;
            flex-direction: column;
            background-color: $color-accent;
            margin-top: -50px;
            border-radius: 40px 40px 0 0;
            padding: 10px 15px;

            .title-like {
                display: flex;
                margin: 32px 10px 0;
                height: 67px;
                transform: translateY(-30px);

                .name-restaurant {
                    font-size: 28px;
                }

                .bloc-icone {
                    display: flex;

                    .icone1 {
                        font-size: 25px;
                    }

                    .icone2 {
                        display: none;
                    }

                    &:hover {
                        .icone2 {
                            display: flex;
                            font-size: 25px;
                            color: transparent;
                            background-clip: text;
                            background-image: linear-gradient($color-primary, $color-secondary);
                        }

                        .icone1 {
                            display: none;
                        }
                    }
                }
            }

            .menu {
                .menu_category {
                    transform: translateY(-30px);

                    .category-dishes {
                        @include apparition;
                        padding-left: 8px;
                        opacity: 0;
                        &::after {
                            margin-top: 5px;
                            display: block;
                            content: "";
                            background-color: $color-tertiary;
                            height: 3px;
                            width: 40px;
                        }
                        
                    }

                    .container {
                        @include apparition;
                        background-color: white;
                        border-radius: 15px;
                        height: 70px;
                        box-shadow: 0px 2px 10px 3px #ddd;
                        margin-bottom: 15px;
                        cursor: pointer;
                        overflow: hidden;
                        opacity: 0;

                        .btn_text {
                            white-space: nowrap;
                            width: calc(100% - 70px);
                            padding: 12px;
                            overflow: hidden;

                            h2 {
                                margin: 0px;
                                font-size: 18px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }

                            p {
                                font-size: 15px;
                                margin: 5px 0 0 0;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }

                        .price {
                            display: flex;
                            align-items: flex-end;
                            justify-content: flex-end;
                            font-size: 15px;
                            height: 45px;
                            width: 50px;
                            margin-right: 25px;
                        }

                        .confirm {
                            display: flex;
                            background-color: $color-tertiary;
                            transition: all 400ms;
                            height: 100%;
                            width: 70px;
                            margin-right: -70px;

                            .confirm_icon {
                                color: white;
                                font-size: 22px;
                                transition: transform 1s;
                            }
                        }

                        &:hover {
                            .confirm {
                                margin-right: 0px;
                                transition-duration: 600ms;

                                .confirm_icon {
                                    color: white;
                                    font-size: 22px;
                                    transform: rotate(360deg);
                                }
                            }
                        }

                    }
                }

            }

            .button-order {
                background-image: linear-gradient($color-secondary, $color-primary);
                color: $color-accent;
                border: none;
                text-decoration: none;
                border-radius: 2rem;
                font-size: 20px;
                height: 55px;
                width: 210px;
                box-shadow: 0px 5px 10px 0px #A9A9A9;
                margin: 20px auto 80px;
                transition: all 300ms;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0px 7px 12px 0px #A9A9A9;
                    background-image: linear-gradient(#ff79dad1, #9356dcd6);
                }
            }
        }

    }
}


/* desktop */
@media screen and (min-width: 1200px ) {
    
    main {
        flex-direction: column;
        
        /*Page d'accueil*/
        
        .function {
            display: flex;
            flex-direction: column;
            max-width: 1200px;
            margin: auto;
            .function_btn {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
    
                .btn_choose {
                    display: flex;
                    width: 320px;
                    
                }
            }
        }

        .restaurant_btn {
            display: flex;
            flex-direction: column;
            max-width: 1200px;
            margin: auto;
      
            
            .restaurant-group {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                flex-wrap: wrap;
                margin-bottom: 50px;
                
                .restaurant_select {
                    max-width: 540px;
                    margin-bottom: 20px;
                }
            }
        
        }

        /*pages des menus*/

        .main_menu {
            display: flex;
            flex-direction: column;

            .title_menu {
                margin-top: 32px;
                .title-like {
                    display: flex;
                    justify-content: space-between;
                    max-width: 1200px;
                    flex-wrap: wrap;
                    margin: auto; 
                }

            }  

            .menu {
                display: flex;
                justify-content: space-between;
                align-items: stretch;
                flex-wrap: wrap;
                max-width: 1200px;
                margin: auto;

                .menu_category {
                    margin: 10px;
                    .container {
                        width: 380px;
                    }
                }
            }
        }

    }

    .footer-texticone {
        width: 1200px;
        margin: auto;
    }

    
}