@charset "UTF-8";
.title {
  font-family: "Shrikhand", cursive;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_menu {
  padding: 10px 15px;
}

/*Page d'accueil*/
body {
  margin: 0px;
  /* Animation du loader */
  /*Header*/
  /*Main */
  /*Footer */
}
body .loading {
  /* Création du loader */
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.568627451);
  z-index: 99;
  display: flex;
  -webkit-animation: disappear 2s forwards;
          animation: disappear 2s forwards;
}
body .loading svg {
  width: 100px;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
  margin: auto;
}
body .loading circle {
  -webkit-animation: color 6s ease-in-out infinite, dash 1.5s ease-in-out infinite;
          animation: color 6s ease-in-out infinite, dash 1.5s ease-in-out infinite;
  fill: none;
  stroke: black;
  stroke-width: 3;
  stroke-linecap: round;
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #9356DC;
  }
  25% {
    stroke: #99E2D0;
  }
  50% {
    stroke: #FF79DA;
  }
  75% {
    stroke: #2c3e50;
  }
}
@keyframes color {
  0% {
    stroke: #9356DC;
  }
  25% {
    stroke: #99E2D0;
  }
  50% {
    stroke: #FF79DA;
  }
  75% {
    stroke: #2c3e50;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes disappear {
  /*disparition du loading*/
  100% {
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes disappear {
  /*disparition du loading*/
  100% {
    opacity: 1;
    visibility: hidden;
  }
}
body header {
  text-align: center;
  box-shadow: 0 2px 3px 1px #bdc3c7;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  position: relative;
}
body header h1 {
  margin: 0;
}
body main {
  flex-direction: column;
}
body main .location {
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  width: 100%;
  height: 40px;
}
body main .location i {
  font-size: 15px;
  padding-right: 15px;
}
body main .location p {
  font-weight: 15px;
  margin-right: 35px;
}
body main .main--txt {
  flex-direction: column;
  background-color: #f7f9f9;
  text-align: center;
  width: 100%;
  flex: 1;
}
body main .main--txt h1 {
  padding: 0 50px;
  font-size: 30px;
  padding-top: 20px;
}
body main .main--txt p {
  font-size: 20px;
  margin: 0 20px 30px 20px;
}
body main .main--txt .button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #f7f9f9;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 20px;
  margin-bottom: 60px;
  box-shadow: 0px 5px 10px 0px #A9A9A9;
  transition: all 300ms;
}
body main .main--txt .button:hover {
  transform: scale(1.08);
  box-shadow: 0px 7px 12px 0px #A9A9A9;
}
body main .global {
  background-color: #f7f9f9;
  border-radius: 20px;
  height: 70px;
  box-shadow: 0px 0px 10px 0px #A9A9A9;
  margin-top: 25px;
}
body main .global:hover {
  background-color: rgba(147, 86, 220, 0.168627451);
}
body main .global .icone_objet {
  color: #9356DC;
}
body main .colorgrisclaire {
  color: #f7f9f9;
}
body main .colorgris {
  color: #a9a9a9;
}
body main .function {
  padding-bottom: 30px;
  margin: 40px 20px;
  cursor: pointer;
}
body main .function h1 {
  margin-bottom: 15px;
}
body main .function .function_choose {
  display: flex;
  align-items: center;
  font-size: 11px;
  max-width: 1285px;
}
body main .function .function_choose .icone_number {
  background-color: #9356DC;
  border: 2px solid #9356DC;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  font-size: 10px;
  margin-left: -12px;
}
body main .function .function_choose .icone_objet {
  font-size: 20px;
  padding-left: 20px;
  margin-right: 20px;
}
body main .paddrestaurant {
  padding: 30px 20px;
}
body main .list_restaurant {
  display: flex;
  background-color: #f7f9f9;
  flex-direction: column;
}
body main .list_restaurant .restaurant_select {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 12px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px #ddd;
  cursor: pointer;
  padding-bottom: 20px;
  position: relative;
  text-decoration: none;
  transition: all 300ms;
}
body main .list_restaurant .restaurant_select:hover {
  transform: scale(1.03);
}
body main .list_restaurant .restaurant_select .fit-picture img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
body main .list_restaurant .restaurant_select .fit {
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 15px;
}
body main .list_restaurant .restaurant_select .fit .bloc-icone {
  display: flex;
  align-items: center;
}
body main .list_restaurant .restaurant_select .fit .bloc-icone .icone1 {
  font-size: 25px;
}
body main .list_restaurant .restaurant_select .fit .bloc-icone .icone2 {
  display: none;
}
body main .list_restaurant .restaurant_select .fit .bloc-icone:hover .icone2 {
  display: flex;
  font-size: 25px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
}
body main .list_restaurant .restaurant_select .fit .bloc-icone:hover .icone1 {
  display: none;
}
body main .list_restaurant .restaurant_select .fit i {
  font-size: 30px;
}
body main .list_restaurant .restaurant_select .fit i:hover {
  color: #9356DC;
}
body main .list_restaurant .restaurant_select .fit .fit-text {
  font-size: 16px;
}
body main .list_restaurant .restaurant_select .fit .fit-text h2 {
  font-size: 15px;
  padding-bottom: 5px;
  margin: 0;
}
body main .list_restaurant .restaurant_select .fit .fit-text p {
  font-size: 14px;
  margin: 0;
}
body main .list_restaurant .restaurant_select .new-tag {
  font-size: 12px;
  padding: 5px 10px;
  color: rgba(0, 128, 42, 0.7215686275);
  position: absolute;
  background: #99E2D0;
  top: 12px;
  right: 12px;
}
body footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7607843137);
  color: #f7f9f9;
  padding: 15px 0 40px 25px;
}
body footer .title {
  color: #f7f9f9;
  font-size: 20px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}
body footer .footer_text {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
body footer .footer_text .size1 {
  font-size: 14px;
  margin-right: 12px;
}
body footer .footer_text .size2 {
  font-size: 11px;
  margin-right: 12px;
}
body footer .footer_text p {
  font-size: 16px;
  margin: 0px;
}
body footer .guide {
  font-size: 16px;
  margin: 0px;
  margin-top: 6px;
}
body footer .contact {
  color: #f7f9f9;
  text-decoration: none;
  padding-top: 6px;
}

/*Pages des differents restaurants*/
/*Header*/
.header_bloc {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 3px 1px #bdc3c7;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 10px;
}
.header_bloc .return {
  font-size: 20px;
  color: black;
  padding-left: 30px;
}
.header_bloc h1 {
  margin: auto;
  padding-right: 40px;
}

/*Main*/
main {
  display: flex;
  flex-direction: column;
}
main .francaise_picture {
  display: flex;
  width: 106%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .delice_picture {
  display: flex;
  width: 104%;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .lanote_picture {
  display: flex;
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .palette_picture {
  display: flex;
  width: 106%;
  height: 265px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main_menu {
  width: 100%;
  background-color: #f7f9f9;
  margin-top: -50px;
  border-radius: 40px 40px 0 0;
}
main .main_menu .title_menu {
  display: flex;
  margin: 25px 10px 0 10px;
  opacity: 0;
  transform: translateY(-30px);
  -webkit-animation: apparition 0.4s 100ms ease-out forwards;
          animation: apparition 0.4s 100ms ease-out forwards;
}
main .main_menu .title_menu h1 {
  font-size: 28px;
  margin: 0;
}
main .main_menu .title_menu .bloc-icone {
  padding-right: 15px;
}
main .main_menu .title_menu .bloc-icone .icone1 {
  font-size: 25px;
}
main .main_menu .title_menu .bloc-icone .icone2 {
  display: none;
}
main .main_menu .title_menu .bloc-icone:hover .icone2 {
  display: flex;
  font-size: 25px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
}
main .main_menu .title_menu .bloc-icone:hover .icone1 {
  display: none;
}
main .main_menu .menu_category {
  transform: translateY(-30px);
}
main .main_menu .menu_category > p {
  padding-left: 8px;
  margin-top: 30px;
  opacity: 0;
  transform: translateY(-30px);
  -webkit-animation: apparition 0.8s 1s ease-out forwards;
          animation: apparition 0.8s 1s ease-out forwards;
}
main .main_menu .menu_category > p::after {
  margin-top: 5px;
  display: block;
  content: "";
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
}
main .main_menu .menu_category .container {
  background-color: white;
  border-radius: 15px;
  height: 70px;
  box-shadow: 0px 2px 10px 3px #ddd;
  margin-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
}
main .main_menu .menu_category .container .btn_text {
  white-space: nowrap;
  width: calc(100% - 70px);
  padding: 12px;
  overflow: hidden;
}
main .main_menu .menu_category .container .btn_text h2 {
  margin: 0px;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .main_menu .menu_category .container .btn_text p {
  font-size: 15px;
  margin: 5px 0 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .main_menu .menu_category .container .price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 15px;
  height: 45px;
  width: 50px;
  margin-right: 25px;
}
main .main_menu .menu_category .container .confirm {
  display: flex;
  background-color: #99E2D0;
  transition: all 400ms;
  height: 100%;
  width: 70px;
  margin-right: -70px;
}
main .main_menu .menu_category .container .confirm .confirm_icon {
  color: white;
  font-size: 22px;
  transition: transform 1s;
}
main .main_menu .menu_category .container:hover .confirm {
  margin-right: 0px;
  transition-duration: 600ms;
}
main .main_menu .menu_category .container:hover .confirm .confirm_icon {
  color: white;
  font-size: 22px;
  transform: rotate(360deg);
}
main .main_menu .button-order {
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #f7f9f9;
  border: none;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 20px;
  height: 55px;
  width: 210px;
  box-shadow: 0px 5px 10px 0px #A9A9A9;
  margin: 60px auto 80px;
  transition: all 300ms;
}
main .main_menu .button-order:hover {
  transform: scale(1.05);
  box-shadow: 0px 7px 12px 0px #A9A9A9;
}

/* Animations des plats des pages menu */
@-webkit-keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
/* desktop */
@media screen and (min-width: 992px) {
  /*Page d'accueil*/
  .function > div {
    display: flex;
    flex-wrap: wrap;
  }
  .function > div .function_choose {
    display: flex;
    align-items: center;
    margin: auto;
    width: 380px;
    margin-bottom: 20px;
  }
  .function > div .function_choose h2 {
    padding-right: 20px;
  }
  .function > div .global {
    margin-top: 0;
  }
  .list_restaurant {
    flex-direction: column;
  }
  .list_restaurant .restaurant-group {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .list_restaurant .restaurant-group .restaurant_select {
    width: 42%;
    margin-bottom: 50px;
  }
  /*Pages des menus*/
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .menu .menu_category {
    width: 345px;
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */