@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
.title {
  font-family: "Shrikhand", cursive;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colorgrisclaire {
  color: #f7f9f9;
}

.colorgris {
  color: #a9a9a9;
}

.paddrestaurant {
  padding-left: 15px;
  padding-right: 15px;
}

/*apparition progressive des menu*/
@-webkit-keyframes progress {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes progress {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Page d'accueil*/
body {
  margin: 0px;
  /* Création du loader */
  /* Animation du loader */
  /*Header*/
  /*Main */
  /*Footer */
}
body .loading {
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.568627451);
  z-index: 99;
  display: flex;
  -webkit-animation: disappear 2s forwards;
          animation: disappear 2s forwards;
}
body .loading svg {
  width: 100px;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
  margin: auto;
}
body .loading circle {
  -webkit-animation: color 6s ease-in-out infinite, dash 1.5s ease-in-out infinite;
          animation: color 6s ease-in-out infinite, dash 1.5s ease-in-out infinite;
  fill: none;
  stroke: black;
  stroke-width: 3;
  stroke-linecap: round;
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes color {
  0% {
    stroke: #9356DC;
  }
  25% {
    stroke: #99E2D0;
  }
  50% {
    stroke: #FF79DA;
  }
  75% {
    stroke: #2c3e50;
  }
}
@keyframes color {
  0% {
    stroke: #9356DC;
  }
  25% {
    stroke: #99E2D0;
  }
  50% {
    stroke: #FF79DA;
  }
  75% {
    stroke: #2c3e50;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes disappear {
  /*disparition du loading*/
  100% {
    opacity: 1;
    visibility: hidden;
  }
}
@keyframes disappear {
  /*disparition du loading*/
  100% {
    opacity: 1;
    visibility: hidden;
  }
}
body header {
  text-align: center;
  box-shadow: 0 2px 3px 1px #bdc3c7;
  margin: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  position: relative;
}
body header h1 {
  margin: 0;
}
body main {
  flex-direction: column;
}
body main .location {
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  width: 100%;
  height: 40px;
}
body main .location i {
  font-size: 15px;
  padding-right: 15px;
}
body main .location p {
  font-weight: 100;
  margin-right: 35px;
}
body main .main--txt {
  flex-direction: column;
  background-color: #f7f9f9;
  text-align: center;
  width: 100%;
  flex: 1;
}
body main .main--txt h1 {
  padding: 0 50px;
  font-size: 30px;
  padding-top: 20px;
}
body main .main--txt p {
  font-size: 20px;
  margin: 0 20px 30px 20px;
}
body main .main--txt .button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #f7f9f9;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 20px;
  margin-bottom: 60px;
  box-shadow: 0px 5px 10px 0px #A9A9A9;
  transition: all 300ms;
}
body main .main--txt .button:hover {
  transform: scale(1.08);
  box-shadow: 0px 7px 12px 0px #A9A9A9;
  background-image: linear-gradient(rgba(255, 121, 218, 0.8196078431), rgba(147, 86, 220, 0.8392156863));
}
body main .function {
  padding-bottom: 30px;
  flex-direction: column;
}
body main .function h2 {
  margin-bottom: 20px;
  margin-top: 40px;
}
body main .function .function_btn .btn_choose {
  display: flex;
  align-items: center;
  background-color: #f7f9f9;
  border-radius: 20px;
  font-size: 11px;
  box-shadow: 0px 0px 10px 0px #A9A9A9;
  margin-bottom: 25px;
  height: 70px;
  max-width: 1200px;
  cursor: pointer;
}
body main .function .function_btn .btn_choose .icone_number {
  background-color: #9356DC;
  border: 2px solid #9356DC;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  font-size: 10px;
  margin-left: -12px;
}
body main .function .function_btn .btn_choose .icone_objet {
  display: flex;
  font-size: 20px;
  padding-left: 20px;
  margin-right: 20px;
}
body main .function .function_btn .btn_choose h3 {
  font-size: 17px;
}
body main .function .function_btn .btn_choose:hover {
  background-color: rgba(147, 86, 220, 0.168627451);
}
body main .function .function_btn .btn_choose:hover .icone_objet {
  color: #9356DC;
}
body main .list_restaurant {
  display: flex;
  background-color: #f7f9f9;
}
body main .list_restaurant .restaurant_btn {
  display: flex;
  flex: 1;
  flex-direction: column;
}
body main .list_restaurant .restaurant_btn h2 {
  margin-top: 40px;
}
body main .list_restaurant .restaurant_btn .restaurant_select {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 12px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px #ddd;
  cursor: pointer;
  padding-bottom: 20px;
  position: relative;
  text-decoration: none;
  transition: all 300ms;
}
body main .list_restaurant .restaurant_btn .restaurant_select:hover {
  transform: scale(1.03);
}
body main .list_restaurant .restaurant_btn .restaurant_select .fit-picture img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
body main .list_restaurant .restaurant_btn .restaurant_select .fit {
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 15px;
}
body main .list_restaurant .restaurant_btn .restaurant_select .fit .bloc-icone {
  display: flex;
  align-items: center;
}
body main .list_restaurant .restaurant_btn .restaurant_select .fit .bloc-icone .icone1 {
  font-size: 25px;
}
body main .list_restaurant .restaurant_btn .restaurant_select .fit .bloc-icone .icone2 {
  display: none;
}
body main .list_restaurant .restaurant_btn .restaurant_select .fit .bloc-icone:hover .icone2 {
  display: flex;
  font-size: 25px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
}
body main .list_restaurant .restaurant_btn .restaurant_select .fit .bloc-icone:hover .icone1 {
  display: none;
}
body main .list_restaurant .restaurant_btn .restaurant_select .fit i {
  font-size: 30px;
}
body main .list_restaurant .restaurant_btn .restaurant_select .fit i:hover {
  color: #9356DC;
}
body main .list_restaurant .restaurant_btn .restaurant_select .fit .fit-text {
  font-size: 16px;
}
body main .list_restaurant .restaurant_btn .restaurant_select .fit .fit-text h3 {
  font-size: 15px;
  padding-bottom: 5px;
  margin: 0;
}
body main .list_restaurant .restaurant_btn .restaurant_select .fit .fit-text p {
  font-size: 14px;
  margin: 0;
}
body main .list_restaurant .restaurant_btn .restaurant_select .new-tag {
  font-size: 12px;
  padding: 5px 10px;
  color: rgba(0, 128, 42, 0.7215686275);
  position: absolute;
  background: #99E2D0;
  top: 12px;
  right: 12px;
}
body footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7607843137);
  color: #f7f9f9;
  padding: 15px 0 40px;
}
body footer .title {
  color: #f7f9f9;
  font-size: 20px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}
body footer .footer_text {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
body footer .footer_text .size1 {
  font-size: 14px;
  margin-right: 12px;
}
body footer .footer_text .size2 {
  font-size: 11px;
  margin-right: 12px;
}
body footer .footer_text p {
  font-size: 16px;
  margin: 0px;
}
body footer .guide {
  font-size: 16px;
  margin: 0px;
  margin-top: 6px;
}
body footer .contact {
  color: #f7f9f9;
  text-decoration: none;
  padding-top: 6px;
}

/*Pages des differents restaurants*/
body {
  flex-direction: column;
  /*Header*/
  /*Main*/
}
body .header_bloc {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 3px 1px #bdc3c7;
  margin: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}
body .header_bloc .return {
  font-size: 20px;
  color: black;
  padding-left: 30px;
}
body .header_bloc h1 {
  margin: auto;
  padding-right: 40px;
}
body .main-bloc {
  display: flex;
  flex-direction: column;
  background-color: #f7f9f9;
}
body .main-bloc .restau_picture {
  display: flex;
  height: 265px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .main-bloc .main_menu {
  display: flex;
  flex-direction: column;
  background-color: #f7f9f9;
  margin-top: -50px;
  border-radius: 40px 40px 0 0;
  padding: 10px 15px;
}
body .main-bloc .main_menu .title-like {
  display: flex;
  margin: 32px 10px 0;
  height: 67px;
  transform: translateY(-30px);
}
body .main-bloc .main_menu .title-like .name-restaurant {
  font-size: 28px;
}
body .main-bloc .main_menu .title-like .bloc-icone {
  display: flex;
}
body .main-bloc .main_menu .title-like .bloc-icone .icone1 {
  font-size: 25px;
}
body .main-bloc .main_menu .title-like .bloc-icone .icone2 {
  display: none;
}
body .main-bloc .main_menu .title-like .bloc-icone:hover .icone2 {
  display: flex;
  font-size: 25px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
}
body .main-bloc .main_menu .title-like .bloc-icone:hover .icone1 {
  display: none;
}
body .main-bloc .main_menu .menu .menu_category {
  transform: translateY(-30px);
}
body .main-bloc .main_menu .menu .menu_category .category-dishes {
  padding-left: 8px;
  opacity: 0;
}
body .main-bloc .main_menu .menu .menu_category .category-dishes:nth-child(1) {
  -webkit-animation: progress 0.2s 0.2s ease-in forwards;
          animation: progress 0.2s 0.2s ease-in forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
body .main-bloc .main_menu .menu .menu_category .category-dishes:nth-child(2) {
  -webkit-animation: progress 0.2s 0.4s ease-in forwards;
          animation: progress 0.2s 0.4s ease-in forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
body .main-bloc .main_menu .menu .menu_category .category-dishes:nth-child(3) {
  -webkit-animation: progress 0.2s 0.6s ease-in forwards;
          animation: progress 0.2s 0.6s ease-in forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
body .main-bloc .main_menu .menu .menu_category .category-dishes:nth-child(4) {
  -webkit-animation: progress 0.2s 0.8s ease-in forwards;
          animation: progress 0.2s 0.8s ease-in forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
body .main-bloc .main_menu .menu .menu_category .category-dishes:nth-child(5) {
  -webkit-animation: progress 0.2s 1s ease-in forwards;
          animation: progress 0.2s 1s ease-in forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
body .main-bloc .main_menu .menu .menu_category .category-dishes::after {
  margin-top: 5px;
  display: block;
  content: "";
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
}
body .main-bloc .main_menu .menu .menu_category .container {
  background-color: white;
  border-radius: 15px;
  height: 70px;
  box-shadow: 0px 2px 10px 3px #ddd;
  margin-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
}
body .main-bloc .main_menu .menu .menu_category .container:nth-child(1) {
  -webkit-animation: progress 0.2s 0.2s ease-in forwards;
          animation: progress 0.2s 0.2s ease-in forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
body .main-bloc .main_menu .menu .menu_category .container:nth-child(2) {
  -webkit-animation: progress 0.2s 0.4s ease-in forwards;
          animation: progress 0.2s 0.4s ease-in forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
body .main-bloc .main_menu .menu .menu_category .container:nth-child(3) {
  -webkit-animation: progress 0.2s 0.6s ease-in forwards;
          animation: progress 0.2s 0.6s ease-in forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
body .main-bloc .main_menu .menu .menu_category .container:nth-child(4) {
  -webkit-animation: progress 0.2s 0.8s ease-in forwards;
          animation: progress 0.2s 0.8s ease-in forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
body .main-bloc .main_menu .menu .menu_category .container:nth-child(5) {
  -webkit-animation: progress 0.2s 1s ease-in forwards;
          animation: progress 0.2s 1s ease-in forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
body .main-bloc .main_menu .menu .menu_category .container .btn_text {
  white-space: nowrap;
  width: calc(100% - 70px);
  padding: 12px;
  overflow: hidden;
}
body .main-bloc .main_menu .menu .menu_category .container .btn_text h2 {
  margin: 0px;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .main-bloc .main_menu .menu .menu_category .container .btn_text p {
  font-size: 15px;
  margin: 5px 0 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .main-bloc .main_menu .menu .menu_category .container .price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 15px;
  height: 45px;
  width: 50px;
  margin-right: 25px;
}
body .main-bloc .main_menu .menu .menu_category .container .confirm {
  display: flex;
  background-color: #99E2D0;
  transition: all 400ms;
  height: 100%;
  width: 70px;
  margin-right: -70px;
}
body .main-bloc .main_menu .menu .menu_category .container .confirm .confirm_icon {
  color: white;
  font-size: 22px;
  transition: transform 1s;
}
body .main-bloc .main_menu .menu .menu_category .container:hover .confirm {
  margin-right: 0px;
  transition-duration: 600ms;
}
body .main-bloc .main_menu .menu .menu_category .container:hover .confirm .confirm_icon {
  color: white;
  font-size: 22px;
  transform: rotate(360deg);
}
body .main-bloc .main_menu .button-order {
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #f7f9f9;
  border: none;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 20px;
  height: 55px;
  width: 210px;
  box-shadow: 0px 5px 10px 0px #A9A9A9;
  margin: 20px auto 80px;
  transition: all 300ms;
}
body .main-bloc .main_menu .button-order:hover {
  transform: scale(1.05);
  box-shadow: 0px 7px 12px 0px #A9A9A9;
  background-image: linear-gradient(rgba(255, 121, 218, 0.8196078431), rgba(147, 86, 220, 0.8392156863));
}

/* desktop */
@media screen and (min-width: 1200px) {
  main {
    flex-direction: column;
    /*Page d'accueil*/
    /*pages des menus*/
  }
  main .function {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
  }
  main .function .function_btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  main .function .function_btn .btn_choose {
    display: flex;
    width: 320px;
  }
  main .restaurant_btn {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
  }
  main .restaurant_btn .restaurant-group {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  main .restaurant_btn .restaurant-group .restaurant_select {
    max-width: 540px;
    margin-bottom: 20px;
  }
  main .main_menu {
    display: flex;
    flex-direction: column;
  }
  main .main_menu .title_menu {
    margin-top: 32px;
  }
  main .main_menu .title_menu .title-like {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: auto;
  }
  main .main_menu .menu {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }
  main .main_menu .menu .menu_category {
    margin: 10px;
  }
  main .main_menu .menu .menu_category .container {
    width: 380px;
  }
  .footer-texticone {
    width: 1200px;
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */